[Desktop Entry]
Type=Application
Exec=$HOME/.config/autostart/user-autostart.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=User Autostart
Terminal=false
